<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i> 添加明细管理</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <input hidden id="orderNo" th:attr="value=${orderNo}">
        <div class="timo-table-wrap">
            <table class="layui-table timo-table">
                <thead>
                <tr>
                    <th class="timo-table-checkbox">
                        <label class="timo-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th>型号/物料号</th>
                    <th>序列号/SN</th>
                    <th>QTY</th>
                    <th>入库 DN#</th>
                    <th>PO#</th>
                    <th>SO#</th>
                    <th>合同号/批次号</th>
                    <th>生产日期</th>
                    <th>入库重量/KG</th>
                    <th>入库体积/CBM</th>
                    <th>商品名称/物料描述</th>
                    <th>产品分类</th>
                    <th>入库供应商</th>
                    <th>库位号</th>
                    <th>内部号</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td th:text="${item.model}">型号/物料号</td>
                    <td th:text="${item.sn}">序列号/SN</td>
                    <td th:text="${item.qty}">QTY</td>
                    <td th:text="${item.dn}">入库 DN#</td>
                    <td th:text="${item.po}">PO#</td>
                    <td th:text="${item.so}">SO#</td>
                    <td th:text="${item.contractNo}">合同号/批次号</td>
                    <td th:text="${item.productDate}">生产日期</td>
                    <td th:text="${item.weight}">入库重量/KG</td>
                    <td th:text="${item.volume}">入库体积/CBM</td>
                    <td th:text="${item.goodsName}">商品名称/物料描述</td>
                    <td th:text="${item.productType}">产品分类</td>
                    <td th:text="${item.supplier}">入库供应商</td>
                    <td th:text="${item.locationNo}">库位号</td>
                    <td th:text="${item.internalNo}">内部号</td>
                    <td th:text="${item.remark}">备注</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>