<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${stockinOrderInfo.id}"></td>
                    <th>入库单号</th>
                    <td th:text="${stockinOrderInfo.orderNo}"></td>
                </tr>
                <tr>
                    <th>库区id</th>
                    <td th:text="${stockinOrderInfo.regionId}"></td>
                    <th>库位id</th>
                    <td th:text="${stockinOrderInfo.locationId}"></td>
                </tr>
                <tr>
                    <th>型号/物料号</th>
                    <td th:text="${stockinOrderInfo.model}"></td>
                    <th>序列号/SN</th>
                    <td th:text="${stockinOrderInfo.sn}"></td>
                </tr>
                <tr>
                    <th>QTY</th>
                    <td th:text="${stockinOrderInfo.qty}"></td>
                    <th>入库 DN#</th>
                    <td th:text="${stockinOrderInfo.dn}"></td>
                </tr>
                <tr>
                    <th>PO#</th>
                    <td th:text="${stockinOrderInfo.po}"></td>
                    <th>SO#</th>
                    <td th:text="${stockinOrderInfo.so}"></td>
                </tr>
                <tr>
                    <th>合同号/批次号</th>
                    <td th:text="${stockinOrderInfo.contractNo}"></td>
                    <th>生产日期</th>
                    <td th:text="${stockinOrderInfo.productDate}"></td>
                </tr>
                <tr>
                    <th>入库重量/KG</th>
                    <td th:text="${stockinOrderInfo.weight}"></td>
                    <th>入库体积/CBM</th>
                    <td th:text="${stockinOrderInfo.volume}"></td>
                </tr>
                <tr>
                    <th>商品名称/物料描述</th>
                    <td th:text="${stockinOrderInfo.goodsName}"></td>
                    <th>产品分类</th>
                    <td th:text="${stockinOrderInfo.productType}"></td>
                </tr>
                <tr>
                    <th>入库供应商</th>
                    <td th:text="${stockinOrderInfo.supplier}"></td>
                    <th>库位号</th>
                    <td th:text="${stockinOrderInfo.locationNo}"></td>
                </tr>
                <tr>
                    <th>内部号</th>
                    <td th:text="${stockinOrderInfo.internalNo}" colspan="3"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${stockinOrderInfo.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${stockinOrderInfo.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(stockinOrderInfo.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(stockinOrderInfo.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td th:text="${stockinOrderInfo.remark}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>