<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i> 预出库单管理</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row timo-card-screen">
            <div class="pull-left layui-form-pane timo-search-box">
                <div class="layui-inline">
                    <div class="layui-input-block timo-search-status">
                        <select class="timo-search-select" id="outType">
                            <option value="model">型号/物料号</option>
                            <option value="sn">序列号/SN</option>
                            <option value="dn">入库 DN#</option>
                            <option value="po">PO#</option>
                            <option value="so">SO#</option>
                            <option value="contractNo">合同号/批次号</option>
                            <option value="internalNo">内部号</option>
                        </select>
                    </div>
                    <div class="layui-input-block">
                        <input type="text" id="outValue" placeholder="请输入"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">出库量</label>
                    <div class="layui-input-block">
                        <input type="text" id="outQtyInput" placeholder="请输出库量" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">库区</label>
                    <div class="layui-input-block timo-search-status">
                        <select class="timo-search-select" name="regionId" id="regionId"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn timo-search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="pull-right screen-btn-group">
                <button class="layui-btn" data-size="auto" id="outStock">
                    <i class="fa fa-send"></i> 出库
                </button>
                <button class="layui-btn" data-size="auto" id="viewPreStock">
                    <i class="fa fa-truck"></i> 查看明细
                </button>
            </div>
        </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table">
                <thead>
                <tr>
                    <th class="timo-table-checkbox">
                        <label class="timo-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th>型号/物料号</th>
                    <th>序列号/SN</th>
                    <th>QTY</th>
                    <th style="background-color: red; color: white">出库量</th>
                    <th>入库 DN#</th>
                    <th>PO#</th>
                    <th>SO#</th>
                    <th>合同号/批次号</th>
                    <th>生产日期</th>
                    <th>入库重量/KG</th>
                    <th>入库体积/CBM</th>
                    <th>商品名称/物料描述</th>
                    <th>产品分类</th>
                    <th>入库供应商</th>
                    <th>库位号</th>
                    <th>内部号</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody id="stockBody">
                <tr th:each="item:${list}">
                    <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td th:text="${item.model}">型号/物料号</td>
                    <td th:text="${item.sn}">序列号/SN</td>
                    <td th:text="${item.qty}">QTY</td>
                    <td th:attr="data-orderId=${item.id}" contenteditable="true"></td>
                    <td th:text="${item.dn}">入库 DN#</td>
                    <td th:text="${item.po}">PO#</td>
                    <td th:text="${item.so}">SO#</td>
                    <td th:text="${item.contractNo}">合同号/批次号</td>
                    <td th:text="${item.productDate}">生产日期</td>
                    <td th:text="${item.weight}">入库重量/KG</td>
                    <td th:text="${item.volume}">入库体积/CBM</td>
                    <td th:text="${item.goodsName}">商品名称/物料描述</td>
                    <td th:text="${item.productType}">产品分类</td>
                    <td th:text="${item.supplier}">入库供应商</td>
                    <td th:text="${item.locationNo}">库位号</td>
                    <td th:text="${item.internalNo}">内部号</td>
                    <td th:text="${item.remark}">备注</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.min.js}"></script>
<script>
    $(document).ready(function () {
        v = {};
        $.ajax({
            type: 'get',
            url: '/warehouse/warehouseRegion/getUserRegion',
            async: false,
            success: function (data) {
                $.each(data, function (i, d) {
                    v[d.id] = d.name;
                });
            }
        });
        var data = JSON.parse(JSON.stringify(v));
        var select = $("#regionId");
        // var regionId = getQueryVariable("regionId");
        var regionId = [[${regionId}]];
        $.each(data, function (k, v) {
            if (regionId == k) {
                select.append("<option selected value ='" + k + "'>" + v + "</option>");
            } else {
                select.append("<option value ='" + k + "'>" + v + "</option>");
            }
        });
    });

    // 查看明细
    $("#viewPreStock").on("click", function (e) {
        e.preventDefault();
        var url = "/stockout/stockoutPreOrderInfo/getPreOrderInfo";
        var title = "查看明细";
        window.layerIndex = layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            maxmin: true,
            area: ['80%', '80%'],
            content: [url, 'on']
        });
    });

    // 出库
    $("#outStock").on("click", function (e) {
        e.preventDefault();
        var outQtyInput = $("#outQtyInput").val();
        var outQtyTdArray = []
        $("#stockBody tr").each(function (i) {
            var outQtyTd = $(this).children('td')[4].innerHTML;
            if (!isEmpty(outQtyTd)) {
                var outOrderId = $(this).children('td')[4].getAttribute("data-orderId");
                outQtyTdArray.push(outOrderId + "," + outQtyTd);
            }
        });
        if (!isEmpty(outQtyInput) && outQtyTdArray.length > 0) {
            layer.msg('不符合出库条件');
        } else {
            if (!isEmpty(outQtyInput)) {
                var outType = $("#outType").val();
                var outValue = $("#outValue").val();
                var url = "/stockout/stockoutPreOrderInfo/outQtyInput/" + outType + "/" + outValue + "/" + outQtyInput;
                $.get(url, function (result) {
                    if (result.code == 200) {
                        layer.msg(result.msg, {offset: '15px', time: 3000, icon: 1});
                        location.reload();
                    } else {
                        layer.msg(result.msg, {offset: '15px', time: 3000, icon: 2});
                    }
                });
            } else if (outQtyTdArray.length > 0) {
                var url = "/stockout/stockoutPreOrderInfo/outQtyTd/" + outQtyTdArray.join("&");
                $.get(url, function (result) {
                    if (result.code == 200) {
                        layer.msg(result.msg, {offset: '15px', time: 3000, icon: 1});
                        location.reload();
                    } else {
                        layer.msg(result.msg, {offset: '15px', time: 3000, icon: 2});
                    }
                });
            } else {
                layer.msg('不符合出库条件');
            }
        }
    });
</script>
</body>
</html>