<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${stockinOrder.id}"></td>
                    <th>入库单号</th>
                    <td th:text="${stockinOrder.orderNo}"></td>
                </tr>
                <tr>
                    <th>件数</th>
                    <td th:text="${stockinOrder.number}"></td>
                    <th>包装请求</th>
                    <td th:text="${stockinOrder.packageInfo}"></td>
                </tr>
                <tr>
                    <th>入库体积</th>
                    <td th:text="${stockinOrder.volume}"></td>
                    <th>入库重量</th>
                    <td th:text="${stockinOrder.weight}"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${stockinOrder.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${stockinOrder.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(stockinOrder.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(stockinOrder.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td th:text="${stockinOrder.remark}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>