<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-body">
        <input hidden id="userId" th:attr="value=${userId}">
        <div class="layui-row timo-card-screen">
            <div class="pull-left layui-form-pane timo-search-box">
                <div class="layui-inline">
                    <label class="layui-form-label">隶属库区：</label>
                    <label class="layui-form-label" th:text="${partRegion}"></label>
                </div>
                <br/>
                <div class="layui-inline">
                    <button class="layui-btn" data-size="auto" id="allocationSubmit">
                        <i class="fa fa-suitcase"></i> 提交
                    </button>
                </div>
                <br/>
                <div class="layui-inline">
                    <label class="layui-form-label">库区名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" th:value="${param.name}" placeholder="请输入库区名称" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn timo-search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table">
                <thead>
                <tr>
                    <th class="timo-table-checkbox">
                        <label class="timo-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th>库区名称</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td th:text="${item.name}">库区名称</td>
                    <td th:text="${item.remark}">备注</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.min.js}"></script>
<script>
    // 提交
    $("#allocationSubmit").on("click", function (e) {
        e.preventDefault();
        var checked = [];
        var tdcheckbox = $(".timo-table td .timo-checkbox :checkbox:checked");
        if (tdcheckbox.length >= 1) {
            tdcheckbox.each(function (key, val) {
                checked.push($(val).attr("value"));
            });
            var url = "/system/user/regionEdit/" + checked.join("&") + "/" + $("#userId").val();
            $.post(url, function (result) {
                if (result.code == 200) {
                    location.reload();
                } else {
                    layer.msg(result.msg, {offset: '15px', time: 3000, icon: 2});
                }
            });
        } else {
            layer.msg('请选择库区');
        }
    });
</script>
</body>
</html>